{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="container">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>

    <hr>

    <div class="navigation">
        {% if prev_question %}
            <a href="{% url 'polls:detail' prev_question.id %}">&larr; Previous Question</a>
        {% endif %}
        {% if next_question %}
            <a href="{% url 'polls:detail' next_question.id %}">Next Question &rarr;</a>
        {% endif %}
    </div>
</div>

<style>
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("{% static 'polls/Background.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>